html{
    /* px 表示“像素（pixels）”: 基础字号为 10 像素 */
    font-size: 10px;
    /* Google fonts 输出的 CSS */
    font-family: 'Kirang Haerang', cursive;
    /* 这条规则将整个页面的背景颜色设置为蓝色 */
    background-color: #00539f;
}

h1{
    font-size: 60px;
    /* align(对齐)文本居中 */
    text-align: center;
    /* 你可能发现页面的顶部有一个难看的间隙，那是因为浏览器会在没有任何 CSS 的情况下 给 <h1> (en-US) 等元素设置一些默认样式。但这并不是个好主意，因为我们希望一个没有任何样式的网页也有基本的可读性。为了去掉那个间隙，我们通过设置 margin: 0; 来覆盖默认样式。 */
    margin: 0;
    padding: 20px 0;
    color: #00539f;
    /* 这里使用了一个 text-shadow 属性，它可以为元素中的文本提供阴影。四个值含义如下：
    第一个值设置水平偏移值 —— 即阴影右移的像素数（负值左移）。
    第二个值设置垂直偏移值 —— 即阴影下移的像素数（负值上移）。
    第三个值设置阴影的模糊半径 —— 值越大产生的阴影越模糊。
    第四个值设置阴影的基色。 */
    text-shadow: 30px 10px 10px white;
}

p,li{
    font-size: 16px;
    /* 行间距 */ /* line-height 后面可以跟不同的参数，如果是数字，就是当前字体大小乘上数字 */
    line-height: 2;
    /* 字间距 */
    letter-spacing: 1px;
}
body{
    /* 强制页面永远保持 600 像素宽 */
    width: 600px;
    /* margin: 0 auto; —— 为 margin 或 padding 等属性设置两个值时，第一个值代表元素的上方和下方（在这个例子中设置为 0），而第二个值代表左边和右边（在这里，auto 是一个特殊的值，意思是水平方向上左右对称）。 */
    margin: 0 auto;
    background-color: #FF9500;
    /* 我们给内边距设置了四个值来让内容四周产生一点空间。这一次我们不设置上方的内边距，设置右边，下方，左边的内边距为 20 像素。值以上、右、下、左的顺序排列 */
    padding: 0 20px 20px 20px ;
    /* 直接为 body 设置 5 像素的黑色实线边框 */
    border: 5px black solid;
}
img {
    /* 把图像居中来使页面更美观。可以复用 body 的 margin: 0 auto ，
    但是需要一点点调整。 <body> 元素是块级元素，意味着它占据了页面的
    空间并且能够赋予外边距和其他改变间距的值。而图片是内联元素，不具备块级元素的一些功能。
    所以为了使图像有外边距，我们必须使用 display: block 给予其块级行为。 */
    display: block;
    margin: 0 auto;
    /* 如果图片过大，可以用width来限制 */
    width: 400px;
    height: 400px;
  }
  